.navlistItems {
  display: flex;
  align-items: center;
}
.navItem {
  position: relative;
}

.navItemLink {
  display: block;
  padding: 0 20px;
  font-family: var(--PrimeFont);
  font-size: 11px;
  color: var(--greyTextColor);
}
.navItemImage {
  width: 20px;
  height: 20px;
  margin: 6px auto;
}
