.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
}
.sectionTitle {
  font-family: var(--PrimeFont);
  font-size: 40px;
  width: 100%;
  margin: 20px;
  text-align: center;
}

.categoriesCard {
  width: 343px;
  height: 184px;
  background-color: var(--bgCategoriesCard);
  border-radius: 4px;
  margin: 8px;
}
.categoriesLink {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.categoriesImage {
  width: 50%;
  object-fit: contain;
  mix-blend-mode: darken;
}
.categoriesName {
  width: 50%;
  font-family: var(--PrimeFont);
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top: auto;
  padding-bottom: 10px;
}
.watchCategories {
  width: 100%;
  height: 80px;
  margin: 10px;
  text-align: center;
  padding: 34px;
  font-family: var(--PrimeFont);
  font-size: 18px;
  color: #000000;
  border-radius: 4px;
  background: linear-gradient(0deg, #dfdfdf, #dfdfdf);
}
