.featureListItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.featureItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e4e9ed;
}
.featureKey {
  font-family: var(--PrimeFont);
  font-weight: normal;
  font-size: 13px;
  line-height: 330%;
  color: #757c83;
}
.featureValue {
  font-family: var(--PrimeFont);
  font-weight: normal;
  font-size: 13px;
  line-height: 330%;
  text-align: right;
  color: #000000;
}
