.listItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}
.item {
  width: 140px;
  height: 80px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 10px;
  padding: 15px;
  border: 2px solid transparent;
}

.itemActive {
  border: 2px solid #f77d0c;
}

.itemName {
  font-family: var(--PrimeFont);
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  color: #000000;
}
.price {
  font-family: var(--PrimeFont);
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #676f77;
}
