@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

.accordion__section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #717171;
  margin: 0 20px;
}

.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 18px 0;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  border-radius: 10px;
}

.accordion:hover,
.active {
  background-color: transparent;
  border-radius: 10px;
}

.accordion__title {
  width: 300px;
  font-family: var(--PrimeFont);
  font-weight: 600;
  font-size: 18px;
  color: white;
  text-align: left;
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion__content {
  background-color: transparent;
  overflow: hidden;
  transition: max-height 0.6s ease;
}
.navLink {
  font-family: var(--PrimeFont);
  font-size: 14px;
  color: white;
}
.item {
  padding: 10px 0;
}

@media screen and (min-width: 1260px) {
  .accordion__title {
    width: 500px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
}
