.card__section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #c9d0d7;
}
.card__section:first-child {
  border-top: 1px solid #c9d0d7;
}

.card {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 10px 0;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  border-radius: 10px;
}

.card:hover,
.active {
  background-color: white;
  border-radius: 10px;
}

.card__title {
  width: 300px;
  font-family: var(--PrimeFont);
  font-weight: 600;
  font-size: 18px;
  color: black;
  text-align: left;
  background-color: white;
}

.card__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}
.card__list {
  width: 100%;
  text-align: left;
}
.card__item,
.item__ordered {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.list__ordered {
  padding-top: 20px;
}
.item__text,
.item__heading {
  width: 20%;
  align-items: center;
}

.rotate {
  transform: rotate(90deg);
}
.item__text {
  font-family: var(--PrimeFont);
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #000000;
}
.item__heading {
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #b6bec6;
}

.card__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
  font-family: var(--PrimeFont);
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #000000;
}

@media screen and (max-width: 900px) {
  .visible {
    display: none;
  }
}
