.headerWrapper {
  display: none;
}
@media screen and (min-width: 800px) {
  .headerWrapper {
    display: unset;
  }
  .header {
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--searchInputBg);
  }
  .navWrapper {
    display: flex;
  }
  .headerLogo {
    width: 110px;
    height: 48px;
  }
}
