.section {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.sectionTitle {
  font-family: var(--PrimeFont);
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  color: #000000;
  text-align: center;
}
.cardItem {
  margin: 10px;
}

.cardListItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
