.productsList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 837px;
}

.productItem {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #e9ecee;
}

.productName {
  font-family: var(--PrimeFont);
  font-weight: normal;
  font-size: 10px;
  line-height: 170%;
  width: 22%;
  color: black;
  padding: 4px;
  text-align: center;
}
.productImage {
  width: 50px;
  height: 50px;
}
.productArticle {
  font-family: var(--PrimeFont);
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  color: var(--greyTextColor);
  width: 10%;
}

.priceWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 0 4px;
}
.productOldPrice {
  font-family: var(--PrimeFont);
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  color: var(--greyTextColor);
  text-decoration: line-through;
}
.productPrice {
  font-family: var(--PrimeFont);
  font-weight: normal;
  font-size: 12px;
  line-height: 125%;
  color: black;
}
.productTotal {
  font-family: var(--PrimeFont);
  font-weight: normal;
  font-size: 13px;
  line-height: 160%;
  color: var(--greyTextColor);
}

@media screen and (min-width: 800px) {
  .productOldPrice {
    font-size: 12px;
  }

  .productArticle {
    font-size: 13px;
  }
  .productName,
  .productPrice {
    font-size: 14px;
  }
  .productPrice {
    font-size: 18px;
  }
  .productImage {
    width: 64px;
    height: 64px;
  }
}
